<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="DatabaseServer" value=""/>
        <add key="DatabaseName" value=""/>
        <add key="DatabaseUser" value=""/>
        <add key="DatabasePassword" value=""/>
        <add key="DatabaseCharset" value="utf8"/>
        <add key="DatabasePooling" value="true"/>
    </appSettings>
</configuration>